
@{
    ViewBag.Title = "Bestilling av flybilletter";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .container .Rad {
            background-color: #F4F4F4;
            color: #022E3C;
        }
        .container{
            width:85%;
        }
        span{
            display: block;
        }
        .Option {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .tekstFelt {
            width: 200%;
            height: 3em;
            padding: 1em;
            font-size: 1.2em;
            border-bottom: 0.125em solid #D6EBF2;
            border-right: 0.125em solid #D6EBF2;
        }

        .tekstFelt:hover {
            border: 2px solid grey
        }

        .tekstFelt:focus {
            border: 2px solid grey;
            border-radius: 5px;
        }

        td{
            padding:0.5em;
        }

        .plussminus {
            border: 1px solid grey;
            border-right: none;
            width: 30px;
            height: 30px;
            font-size: 1.2em;
            text-align: center;
            display: inline-block;
        }

        #barn, #voksne {
            border-right: none;
            border-left: none;
            float:left;
        }
        #minusBarn, #minusVoksen {
            border-right: none;
            float: left;
            background-color: #D6EBF2;
        }
        #plussBarn, #plussVoksen {
            border-left: none;
            border-right: 1px solid grey;
            background-color: #D6EBF2;
        }

        #bestill {
            border: none;
            color: white;
            letter-spacing:1px;
            background-color: #022E3C;
            width: 200%;
            height: 3em;
            font-size: 1.2em;
            text-align: center;
            margin-top: 2em;
        }

        #bestill:hover {
            opacity:0.8;
        }

    </style>
    <script src="jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {

            //function endre() {
            //    $('#hei').attr("disabled", "disabled"); 
            //}
            //$("#checkboxid").change(function () {
            //        if (this.checked) {
            //            $('.Rad').css("background-color", "yellow");
            //        }
            //        else {
            //            $('#hei').fadeIn('slow');
            //        }
            //    }
            //if ($("#checkboxid").prop('checked', true)) {
            //    $('.Rad').css("background-color", "yellow");
            //}

            $("#radiobutt input[type=radio]").each(function (i) {
                $(this).click(function () {
                    if (i == 1) {
                        $("#hjemreiseDato").attr("disabled", "disabled");
                        $('#hjemreiseTekst').css("color", "grey");
                    }
                    else {
                        $("#hjemreiseDato").removeAttr("disabled");
                        $('#hjemreiseTekst').css("color", "black"); //endre til riktig farge
                    }
                });

            });

            

            //øk/mink-knapper
            //function increase() {
            //    $('.Rad').css("background-color", "yellow");
            //    $('voksne').val();
            //}

            //øk/mink for voksne

            $('#minusVoksen').click(function () {
                var count = $('#voksne').val();
                count--
                $('#voksne').val(count);
                if (count <= 0) {
                    $("#minusVoksen").attr("disabled", "disabled");  
                }
            })
            $('#plussVoksen').click(function () {
                var count = $('#voksne').val();
                count++
                $('#voksne').val(count);
                if (count > 0) {
                    $('#minusVoksen').removeAttr("disabled");
                }
            })

            // øk/mink for barn

            $('#minusBarn').click(function () {
                var count = $('#barn').val();
                count--
                $('#barn').val(count);
                if (count <= 0) {
                    $("#minusBarn").attr("disabled", "disabled");
                }
            })
            $('#plussBarn').click(function () {
                var count = $('#barn').val();
                count++
                $('#barn').val(count);
                if (count > 0) {
                    $('#minusBarn').removeAttr("disabled");
                }
            })
        });
    </script>
</head>
<body>
    <div class="container">
<h2>Bestill flybilletter her!</h2>
        <form action="" method="post">
            <div class="row Rad">
                <div class="col-lg-6 col-md-6 Option">
                    <h4>Hvor reiser du fra?</h4>
                    <input type="text" class="tekstFelt" name="fraSted" value="Oslo(OSL)" />
                </div>
                <div class="col-lg-6 col-md-6 Option">
                    <h4>Hvor vil du reise?</h4>
                    <input type="text" class="tekstFelt" name="fraSted" value="Praha(PRH)" />
                </div>
            </div>
            <div class="row Rad">
                <div class="col-lg-6 col-md-6 Option">
                    <h4>Avreisedato</h4>
                    <input type="date" class="tekstFelt" name="avreiseDato" />
                </div>
                <div class="col-lg-6 col-md-6 Option">
                    <h4 id="hjemreiseTekst">Hjemreisedato</h4>
                    <input type="date" class="tekstFelt" name="hjemreiseDato" id="hjemreiseDato" />
                    @*<div class="checkbox">
                        <label><input type="checkbox" name="Retur" onchange="endre()"
                                      id="checkboxid" value="Retur">Tur/retur</label>
                    </div>*@
                    <span id="radiobutt">
                        <input type="radio" name="rad1" value="Tur" checked="checked" /> Tur/Retur
                        <input type="radio" name="rad1" value="TurRetur" /> Kun tur @*småtterier men: endre til "én vei" eller "enkel"? *@
                    </span>
                </div>

            </div>
            <div class="row Rad">
                <div class="col-lg-6 col-md-6 Option">
                    <h4>Hvor mange reiser?</h4>
                    <table>
                        <tr>
                            <td>Voksne:</td>
                            <td>
                                <button type="button" class="plussminus" name="minus" id="minusVoksen" disabled="disabled">-</button>
                                <input type="text" class="plussminus" id="voksne" class="antall" value="0" />
                                <button type="button" class="plussminus" name="+" id="plussVoksen">+</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Barn (Under 12 år):</td> @*kanskje et spørsmålstegn her som man kan trykke på/hover over og da står det barn under 12 år? *@
                            <td>
                                <button type="button" class="plussminus" name="minus" id="minusBarn" disabled="disabled">-</button>
                                <input type="text" class="plussminus" id="barn" class="antall" value="0" />
                                <button type="button" class="plussminus" name="+" id="plussBarn">+</button>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="submit" name="bestill" value="Bestill reise" id="bestill"/></td>
                        </tr>
                    </table>

                </div>



            </div>
        </form>
        
</div>
</body>
</html>