
@{
    ViewBag.Title = "Bestilling av flybilletter";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .container .Rad {
            background-color: #F4F4F4;
        }
    </style>

</head>
<body>
<h2>Bestill flybilletter her!</h2>
    <div class="container">
        <div class="row Rad">
            <div class="col-lg-3 col-md-6 Option">
                <h4>Hvor reiser du fra?</h4>
                <input type="text" name="fraSted" value="Oslo(OSL)"/>
            </div>
            <div class="col-lg-3 col-md-6 Option">
                <h4>Hvor vil du reise?</h4>
                <input type="text" name="fraSted" value="Praha(PRH)" />
            </div>
            <div class="col-lg-3 col-md-6 Option">
                <h4>Avreisedato</h4>
                <input type="date" name="avreiseDato" />
            </div>
            <div class="col-lg-3 col-md-6 Option">
                <h4>Hjemreisedato</h4>
                <input type="date" name="hjemreiseDato" />
                <div class="checkbox">
                    <label><input type="checkbox" checked="checked" name="Retur" value="Retur">Tur/retur</label>
                </div>
            </div>
    </div>
</div>
</body>
</html>